:root {
    /* Primary */
    --strong-cyan: #26baa4;
    --light-blue: hsl(233, 100%, 69%);

    /* Neutral */
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}
@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Bai Jamjuree';
}
header {
    display: grid;
    place-items: center;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 10px;
}
header .bg-mobile {
    position: absolute;
    width: 100%;
}
header .logo {
    width: 90px;
}
main {
    display: grid;
    gap: 140px;
    padding-bottom: 140px;
}
.download-section {
    display: grid;
    place-items: center;
    gap: 50px;
    background-color: white; 
    padding-top: 40px;
}
.download-section div {
    width: 70%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    text-align: center;
}
.download-section div h1 {
    font-size: 2.4rem;
    color: var(--dark-grayish-blue);
}
.download-section div p {
    font-size: 1.4rem;
    color: var(--grayish-blue);
    line-height: 2.4rem;
}
.download-section .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    width: 60%;
    max-width: 500px;
}
.download-section .buttons a {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 225px;
    height: 40px;
    border-radius: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    box-shadow: 0px 2px 5px 0px rgba(38,186,164,1);
    text-decoration: none;
    transition: 0.2s;
}
.download-section .buttons a:nth-child(2) {
    box-shadow: 0px 2px 5px 0px hsl(233, 100%, 69%); 
}
.download-section .buttons a:hover {
    opacity: 0.6;
}
.download-section .buttons a:nth-child(1) {
    background-color: var(--strong-cyan);
}
.download-section .buttons a:nth-child(2) {
    background-color: var(--light-blue);
}
.first-section {
    display: grid;
    gap: 50px;
    place-items: center;
}
.section {
    text-align: center;
    width: 70%;
    max-width: 540px;
}
.section h2 {
    font-size: 1.8rem;
    color: var(--dark-grayish-blue);
    margin-bottom: 14px;
}
.section p {
    font-size: 1.4rem;
    color: var(--grayish-blue);
    line-height: 2.4rem;
}
.first-section figure {
    display: flex;
    justify-content: center;
}
.first-section img {
    width: 84%;
}
.first-section .properties {
    text-align: center;
    width: 70%;
    max-width: 400px;
}
.first-section .properties h3 {
    font-size: 1.6rem;
    color: var(--dark-grayish-blue);
    margin-bottom: 14px;
}
.first-section .properties p {
    font-size: 1.4rem;
    color: var(--grayish-blue);
}
.second-section {
    display: grid;
    place-items: center;
    gap: 56px;
}
.second-section figure {
    display: grid;
    place-items: center;
}
.second-section img {
    width: 84%;
}
.third-section {
    display: grid;
    place-items: center;
    gap: 80px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}
.third-section .section h2 {
    font-size: 2.4rem;
}
.cards-div {
    display: flex;
    flex-direction: column;
    gap: 46px;
    align-items: center;
}
.cards {
    display: grid;
    place-items: center;
    gap: 20px;
    width: 80%;
    max-width: 310px;
    
}
.cards h2 {
    font-size: 1.8rem;
    color: var(--dark-grayish-blue);
}
.cards p {
    font-size: 1.4rem;
    color: var(--grayish-blue);
    line-height: 2.2rem;
}
.fourth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 66px;
    max-width: 1000px;
    margin: 0 auto;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 80px;
    width: 100%;
    background-color: hsl(201deg 7.25% 96.69%);
}
footer img {
    width: 50px;
}
.links-div {
    display: grid;
    place-items: center;
}
.links-div ul {
    list-style: none;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 26px;
}
.links-div ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-weight: 500;
    transition: 0.2s;
}
.links-div ul li a:hover {
    color: var(--strong-cyan);
}
.social-media-div {
    display: flex;
    gap: 40px;
}
.social-media-div img {
    cursor: pointer;
    width: 24px;
    transition: 0.2s;
}
.social-media-div img:hover {
    filter: invert(64%) sepia(35%) saturate(832%) hue-rotate(122deg) brightness(89%) contrast(87%);
}
.attribution {
    width: 100%;
    display: flex;
    justify-content: center;
}
.bg-desktop {
    display: none;
}
@media(min-width: 1000px) {
    .bg-desktop {
        display: block;
        width: 100%;
        position: absolute;
    }
    header .bg-mobile {
        display: none;
    }
    .first-section {
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 0px;
        row-gap: 50px;
    }
    .first-section .section {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .section h2 {
        font-size: 2.6rem;
    }
    .first-section figure {
        position: relative;
        grid-row-start: 2;
        grid-row-end: 6;
        justify-content: flex-start;
        right: 30px;
    }
    .first-section .properties {
        text-align: start; 
        justify-self: flex-start;
    }
    .first-section .properties h3 {
        font-size: 2rem;
    }
    .cards-div {
        flex-direction: row;
    }
    .fourth-section {
        flex-direction: row;
        max-width: 1000px;
    }
    footer {
        flex-direction: row;
        padding: 50px 160px;
    }
    .links-div {
        margin-left: 100px;
    }
    .links-div ul {
        width: 300px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: start;
    }
    .social-media-div {
        margin-left: 246px;
    }
}