:root {
    /* Primary */
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);

    /* Neutral */
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}
@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('./fonts/BaiJamjuree-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Bai Jamjuree';
}
header {
    display: grid;
    place-items: center;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 10px;
}
header .bg-mobile {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
header .logo {
    width: 90px;
}
main {
    display: grid;
    gap: 160px;
}
.download-section {
    display: grid;
    place-items: center;
    gap: 50px;
    background-color: white; 
    padding-top: 40px;
}
.download-section div {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    text-align: center;
}
.download-section div h1 {
    font-size: 2.4rem;
    color: var(--dark-grayish-blue);
}
.download-section div p {
    font-size: 1.4rem;
    color: var(--grayish-blue);
}
.download-section .buttons {
    width: 60%;
}
.download-section .buttons a {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 225px;
    height: 40px;
    border-radius: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.download-section .buttons a:nth-child(1) {
    background-color: var(--strong-cyan);
}
.download-section .buttons a:nth-child(2) {
    background-color: var(--light-blue);
}
.first-section {
    display: grid;
    gap: 50px;
    place-items: center;
}
.section {
    text-align: center;
    width: 70%;
}
.section h2 {
    font-size: 1.8rem;
    color: var(--dark-grayish-blue);
    margin-bottom: 14px;
}
.section p {
    font-size: 1.4rem;
    color: var(--grayish-blue);
}
.first-section figure {
    display: flex;
    justify-content: center;
}
.first-section img {
    width: 84%;
}
.first-section .properties {
    text-align: center;
    width: 70%;
}
.first-section .properties h3 {
    font-size: 1.6rem;
    color: var(--dark-grayish-blue);
    margin-bottom: 14px;
}
.first-section .properties p {
    font-size: 1.4rem;
    color: var(--grayish-blue);
}
.second-section {
    display: grid;
    place-items: center;
    gap: 56px;
}
.second-section figure {
    display: grid;
    place-items: center;
}
.second-section img {
    width: 84%;
}
.third-section {
    display: grid;
    place-items: center;
    gap: 80px;
    text-align: center;
}
.third-section .section h2 {
    font-size: 2.4rem;
}
.cards-div {
    display: flex;
    flex-direction: column;
    gap: 46px;
    align-items: center;
}
.cards {
    display: grid;
    place-items: center;
    gap: 20px;
    width: 80%;
    
}
.cards h2 {
    font-size: 1.8rem;
    color: var(--dark-grayish-blue);
}
.cards p {
    font-size: 1.4rem;
    color: var(--grayish-blue);
    line-height: 2.2rem;
}